Задание 1

In [164]:
import pandas as pd

In [165]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [166]:
keywords = pd.read_csv('keywords.csv')
geodata.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [167]:
for i in geo_data:
    print (geo_data.get(i))

['москва', 'тула', 'ярославль']
['петербург', 'псков', 'мурманск']
['владивосток', 'сахалин', 'хабаровск']

In [168]:
def addreg(row):
    for i in geo_data:
        for j in geo_data.get(i):
            if j in row:
                return i
      
    return 'undefined'

In [169]:
keywords['region'] = keywords['keyword'].apply(addreg)
keywords.region.value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

Задание 2

In [170]:
filmi = pd.read_csv('ml-latest-small/ratings.csv')

In [171]:
def ocenka(num):
    if num <= 2:
        return 'ФИЛЬМ УЖОС'
    if num > 2 and num <=4:
        return 'МОЖНО СМОТРЕТЬ'
    return 'ТОП КИНО'

In [172]:
filmi['ocenochka'] = filmi['rating'].apply(ocenka)
filmi.head(20)

    userId  movieId  rating   timestamp       ocenochka
0        1       31     2.5  1260759144  МОЖНО СМОТРЕТЬ
1        1     1029     3.0  1260759179  МОЖНО СМОТРЕТЬ
2        1     1061     3.0  1260759182  МОЖНО СМОТРЕТЬ
3        1     1129     2.0  1260759185      ФИЛЬМ УЖОС
4        1     1172     4.0  1260759205  МОЖНО СМОТРЕТЬ
5        1     1263     2.0  1260759151      ФИЛЬМ УЖОС
6        1     1287     2.0  1260759187      ФИЛЬМ УЖОС
7        1     1293     2.0  1260759148      ФИЛЬМ УЖОС
8        1     1339     3.5  1260759125  МОЖНО СМОТРЕТЬ
9        1     1343     2.0  1260759131      ФИЛЬМ УЖОС
10       1     1371     2.5  1260759135  МОЖНО СМОТРЕТЬ
11       1     1405     1.0  1260759203      ФИЛЬМ УЖОС
12       1     1953     4.0  1260759191  МОЖНО СМОТРЕТЬ
13       1     2105     4.0  1260759139  МОЖНО СМОТРЕТЬ
14       1     2150     3.0  1260759194  МОЖНО СМОТРЕТЬ
15       1     2193     2.0  1260759198      ФИЛЬМ УЖОС
16       1     2294     2.0  1260759108      ФИЛЬМ УЖОС
17       1     2455     2.5  1260759113  МОЖНО СМОТРЕТЬ
18       1     2968     1.0  1260759200      ФИЛЬМ УЖОС
19       1     3671     3.0  1260759117  МОЖНО СМОТРЕТЬ

In [173]:
filmi.ocenochka.value_counts()

МОЖНО СМОТРЕТЬ    63801
ТОП КИНО          22818
ФИЛЬМ УЖОС        13385
Name: ocenochka, dtype: int64

Задание 3

In [174]:
filmomani = filmi.groupby('userId').agg({'rating' : 'count', 'timestamp' : ['min', 'max']}).reset_index()

In [175]:
filmomani['diff'] = (filmomani['timestamp']['max'] - filmomani['timestamp']['min'])/60/60/24

In [176]:
topmani = filmomani[(filmomani['rating']['count'] > 99)]
topmani['diff'].mean()

455.22857137198986

Задание 4

In [180]:
mov = pd.read_csv('ml-latest-small/movies.csv')
ffilm = filmi[['movieId', 'rating']]

In [181]:
mov_joined = ffilm.merge(mov, how='left', on='movieId')

In [194]:
years = [x for x in range(1950, 2011)]

In [201]:
def production_year(row):
    for i in years:
        if str(i) in row:
            return i
    return 1900

In [202]:
mov_joined['year'] = mov_joined.title.apply(production_year)

In [209]:
mov_joined.groupby('year').agg({'rating' : 'mean'}).sort_values(by='rating', ascending = False)

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
1974  3.978704
1962  3.952446
1950  3.915254
1977  3.905786
1964  3.841492
1959  3.841033
1958  3.823171
1975  3.823077
1969  3.817376
1967  3.814516
1960  3.809211
1976  3.806794
1973  3.806667
1979  3.777966
1981  3.758763
1953  3.754587
1955  3.751724
1971  3.748830
1968  3.737844
1966  3.736726
1980  3.708816
1963  3.705966
1970  3.700000
1965  3.678715
1961  3.663851
...        ...
1982  3.638306
1991  3.628265
1956  3.617647
1987  3.606015
1900  3.602960
1985  3.588998
1988  3.552990
1978  3.549003
2007  3.548538
1994  3.537963
2010  3.537157
1993  3.536664
1989  3.534349
1986  3.528265
2009  3.520378
2006  3.511478
2008  3.498057
2004  3.491490
1998  3.472754
1995  3.472118
1999  3.471692
1992  3.466754
2001  3.460052
2002  3.456297
1990  3.449169
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]